
body {
  display: flex; 
  flex-direction: column;
  min-height: 100vh; 
  margin: 0px;

}

.footer {
  height: 150px;
  background-color: lightgrey;
  display: flex;
  margin-top: auto; 
 
  
}

.title {
  font-weight: bold;
  font-size: 12px;
}

.info {

  font-size: 10px;
}

.item {
  padding: 10px;
  width: 150px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
  flex-grow: 1;
}